@import 'antd/lib/style/default.css';
@import 'antd/lib/button/style/index.css';

.ant-btn {
  @apply rounded-lg font-inter h-auto;
  @apply inline-flex items-center justify-center border-none;
  @apply focus:border-transparent focus:outline-none;
  @apply px-4 py-1.5 font-semibold leading-5;

  &.icon-start {
    @apply pl-2;

    svg:first-child {
      @apply mr-1;
    }
  }

  &.icon-end {
    @apply pr-2;

    svg:last-child {
      @apply ml-1;
    }
  }

  &-sm {
    @apply px-3 py-1 text-xs font-semibold rounded;

    &.icon-start {
      @apply pl-2;

      svg:first-child {
        @apply mr-1;
      }
    }

    &.icon-end {
      @apply pr-1;

      svg:last-child {
        @apply ml-1;
      }
    }
  }

  &-lg {
    @apply px-4 py-2.5 text-sm font-bold;

    &.icon-start {
      @apply pl-2;

      svg:first-child {
        @apply mr-1;
      }
    }

    &.icon-end {
      @apply pr-2;

      svg:last-child {
        @apply ml-1;
      }
    }
  }

  &-circle {
    @apply text-primary h-auto px-3 py-3;
    @apply hover:text-primary hover:outline-primary hover:outline-1;
    @apply focus:text-primary;

    &:active {
      @apply text-primary;
    }
  }

  &-primary {
    @apply bg-primary text-white;
    @apply hover:bg-primary hover:bg-opacity-70 hover:text-white;
    @apply focus:bg-primary focus:text-white focus:outline-none;

    &:active {
      @apply bg-primary text-white bg-opacity-70;
    }
  }

  &-text {
    @apply text-primary;
    @apply hover:text-primary;
    @apply focus:text-primary;

    &:active {
      @apply text-primary;
    }
  }

  &-link {
    @apply text-primary;
    @apply hover:text-primary;
    @apply focus:text-primary;
  }
}
